svg {
  width: 100%; 
  padding-bottom: 92%; 
  height: 1px; 
  overflow: visible
}

body {
  font: 10px sans-serif;
}

body.vscode-light {
  color: black;
  fill: black;
}

body.vscode-dark {
  color: white;
  fill: white;
}

body.vscode-high-contrast {
  color: red;
}

circle.node {
  fill: lightsteelblue;
  stroke: #555;
  stroke-width: 3px;
}
circle.leaf {
  stroke: #fff;
  stroke-width: 1.5px;
}
path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
}


div.tooltip {
    z-index: -1;
    position: absolute;
    display: block;
}
